* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background-color: rgb(243, 41, 233);
}

header {
  height: 200px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.divisao {
  border-top: 1px solid black;
  margin: 20px 0;
  margin-top: -0.1px;
}

.imgfof {
  height: 270px;
}

section {
  padding-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 500px;

}

.imagem-esquerda {
  float: left;

}

.imagem-direita {
  margin-top: 30px;
  float: right;
}

.texto {
  margin-top: 50px;
  width: 750px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

footer {
  padding-top: 120px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');



.a {
  color: #E7484F
}

.b {
  color: #F68B1D
}

.c {
  color: #FCED00
}

.d {
  color: #009E4F
}

.e {
  color: #00AAC3
}

.f {
  color: #732982
}

.text-center {
  text-align: center;
}

.rainbow {
  background-color: #343A40;
  border-radius: 10px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px 17px;

}

.rainbow-2:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation: slidebg 4s linear infinite;

}



@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.follow {
  margin-top: 40px;
}

.follow a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 2.5rem;
  }

  .imgfof img {
    height: 107%;
  }

  .imgfof2 {
    height: 31.5%;
  }

  .texto {
    padding: 20px;
  }

  .texto h1 {
    font-size: 1.5rem;
  }

  .texto img {
    height: 20%;
  }

  .texto h3 {
    font-size: 1rem;
  }

  .imagem-esquerda,
  .imagem-direita {
    height: 60%;
  }
}




@media screen and (max-width: 648px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 1rem;
  }

  .titulo {
    margin-top: -80px;
  }

  .divisao {
    margin-top: -113px;

  }

  .imgfof img {
    height: 70%;
    margin-top: -12px;
  }

  .imgfof2 img {
    height: 170%;
    margin-top: -75px;

  }

  .texto {
    padding: 20px;
  }

  .texto .ideia img {
    height: 90px;
  }

  .texto h1 {
    font-size: 1.5rem;
  }

  .texto img {
    height: 20%;
  }

  .texto h3 {
    font-size: 1rem;
  }

  .imagem-esquerda img,
  .imagem-direita img {
    height: 60%;
  }

  footer {
    font-size: 0.9rem;

  }


}





@media screen and (max-width: 488px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 1rem;
  }

  .titulo {
    margin-top: -80px;
  }

  .divisao {
    margin-top: -113px;

  }

  .imgfof img {
    height: 70%;
    margin-top: -12px;
  }

  .imgfof2 img {
    height: 170%;
    margin-top: -75px;

  }

  .texto {
    padding: 10px;
  }

  .texto .ideia img {
    height: 60px;
  }

  .texto h1 {
    font-size: 1rem;
  }


  .texto h3 {
    font-size: 0.7rem;
  }

  .imagem-esquerda img,
  .imagem-direita img {
    height: 40%;
    margin-top: 90px;
  }



  footer {
    font-size: 0.9rem;

  }


}